:host {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media all and (min-width: 1024px) {
    //flex-direction: row;
    //justify-content: space-between;
    background-color: #c6cdf9;

    button {
      margin-top: 0;
    }
  }
}

button {
  margin-top: 5px;
  flex: 1;
  border: none;
  background-color: #1c5cb9;
  color: white;
  font-weight: bold;
}

.task-title {
  border: 1px solid black;
  padding: 4px 6px 6px;
}
