<app-header></app-header>

<aside>
  <!--<ng-container *ngIf="getTodosLeft() != 0">-->
  <ng-container>

    <ng-container #editModeEnable *ngIf="editMode==true">
      <!--EDIT ON-->
      <app-todo-edit></app-todo-edit>
    </ng-container>

    <ng-container #editModeDisable *ngIf="editMode==false">
      <!--EDIT OFF-->
      <app-todo-add></app-todo-add>
    </ng-container>

  </ng-container>
</aside>

<!--MAIN DISPLAY FOR ACTIVE TASKS------------------------------------------------------------>

<!--<main class="active-tasks" *ngIf="getTodosLeft() != 0">-->
<app-todo></app-todo>

<!--<ng-container *ngIf="getTodosLeft() == 0">-->
<ng-container>
  <div class="happy">
    <h1 style="text-align: center">That's impressive!</h1>
    <h2 style="text-align: center">If you don't have any extra task, just go watch Black Panther!</h2>
  </div>
</ng-container>

<app-footer></app-footer>
<!--OPTIONAL DISPLAY FOR INACTIVE TASKS------------------------------------------------------------>
<!--<section class="inactive-tasks">-->
<!--<ng-container class="inactive-task" *ngFor="let task of tasks">-->
<!--<ng-container *ngIf="task.completed">-->
<!--TODO: limit to 3 recently closed tasks -->
<!--<i class="fa fa-flag-checkered" (click)="unarchiveTodo(task)">-->
<!--<span class="task-id">{{task.id}}</span>-->
<!--</i>-->
<!--</ng-container>-->
<!--</ng-container>-->
<!--</section>-->
<!--BOTTOM PANEL FOR TASKS DETAILS ------------------------------------------------------------>
<style></style>
