:host {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*IN CASE THERE ARE NOT MORE TASKS LEFT*/
.happy {
  flex: 1;
  background-image: url("../assets/pluto.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*CONTAINER FOR THE ACTIVE TASKS*/
.active-tasks {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  box-shadow: inset 0 0 10px black;
  height: 65%;
  overflow-x: hidden;
  overflow-y: auto;
}


