<header>
  <h1 class="headings">
    Welcome Daniel
  </h1>
  <h2 class="headings">
    You have {{ getTodosLeft() }} tasks
  </h2>
</header>
<section class="active-tasks">

  <!--<template *ngIf="!isAnyTodoLeft()">-->
  <!--<h1 style="text-align: center">That's impressive!</h1>-->
  <!--<h2 style="text-align: center">If you don't have any extra task, just go watch Black Panther!</h2>-->
  <!--</template>-->

  <ng-container class="task" *ngFor="let task of tasks">
    <div class="task" *ngIf="!task.completed">
      <div class="my-row labels">

        <span class="category-label" *ngFor="let tag of task.tags"
              [class.personal]="tag == 'personal'"
              [class.professional]="tag == 'professional'">
          {{ tag }}
        </span>

        <span class="due-date-label">
          {{ task.due_date }}
        </span>

      </div>

      <div class="my-row task-main-line">

        <span class="task-id">
          {{task.id}}
        </span>

        <input class="task-title"
               type="text"
               [class.late]="task.late"
               [class.not-late]="!task.late"
               value="{{ task.title }}"
               title="{{ task.title }}"
               (click)="task.completed = true">

        <i class="fa fa-clock-o" *ngIf="task.late"></i>
        <i class="fa fa-dot-circle-o" *ngIf="!task.late"></i>

      </div>
    </div>
  </ng-container>

</section>

<section class="inactive-tasks">

  <ng-container class="inactive-task" *ngFor="let task of tasks">
    <ng-container *ngIf="task.completed">
      <!--TODO: limit to 3 recently closed tasks -->
      <i class="fa fa-flag-checkered" *ngIf="task.late" (click)="task.completed = false">
        <span class="task-id">{{task.id}}</span>
      </i>
    </ng-container>
  </ng-container>

</section>

<footer class="task-details">
  <!--<h3 class="headings">-->
  <!--LastTask #12 – Finish this TODO app-->
  <!--</h3>-->
  <!--<h3 class="headings">-->
  <!--Daniel – Done (Feb17th) – Late-->
  <!--</h3>-->
  <div class="my-row">
    <button class="server" (click)="showMessage('Toogle button message and items displayed')">Show only personal
    </button>
    <button class="server" (click)="showMessage('Make a GET request')">Reload</button>
    <button class="server" (click)="showMessage('Make a DELET request')">Delete</button>
    <button class="server" (click)="showMessage('Make a POST request')">Save</button>
    <!--<button class="server">Logout (local storage)</button>-->
  </div>
</footer>
