:host {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 1024px) {
    max-width: 640px;
    margin: 0 auto;
  }
}

/*IN CASE THERE ARE NOT MORE TASKS LEFT*/
.happy {
  flex: 1;
  background-image: url("../assets/pluto.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}




