<h1>Edit task</h1>

<div class="flex fr">
  <span class="task-id">{{ task.Id }}</span>
  <input class="task-title"
         type="text"
         value="{{ task.Title || 'Change here the title of the task' }}">
</div>
<div class="flex fr">
  <!--<button style="background-color: darkseagreen; font-weight: bold;"-->
  <!--(click)="onCompleteTodo(task)">-->
  <!--Complete-->
  <!--</button>-->
  <button (click)="onUpdateTodo(task)">
    Update
  </button>
  <button style="background-color: lightpink;" (click)="onDeleteTodo(task)">
    Delete
  </button>
</div>

