<h1>Edit task</h1>

<span class="task-id">{{ task.id }}</span>
<input class="task-title"
       type="text"
       value="{{ task.title || 'Change here the title of the task' }}">
<div class="flex fr">
  <button style="background-color: darkseagreen; font-weight: bold;"
          (click)="onCompleteTodo(task)">
    Complete
  </button>
  <button (click)="onUpdateTodo(task)">
    Update
  </button>
  <button style="background-color: lightpink;" (click)="onDeleteTodo(task)">
    Delete
  </button>
</div>

