<div class="happy" *ngIf="todoService.getTasksTotal() === 0">
  <h1>That's impressive!</h1>
  <h2>If you don't have any extra task, just go watch Black Panther!</h2>
</div>

<div class="happy" *ngIf="todoService.getTasksTotal() < 0">
  <h6 style="color: crimson">That's an erroneous condition.</h6>
</div>

<ul class="active-tasks" *ngIf="t.getTasksTotal() > 0">
  <li class="task" *ngFor="let task of tasks"
      [ngClass]="{completed: task.DateDone == task.DateDue}">

    <span class="task-id">Task #{{task.Id}} - </span>

    <span class="task-title" (click)="onComplete(task)">
      {{ task.Title }}
    </span>
  </li>
</ul>

