:host {
  flex: 1;
  box-shadow: inset 0 0 10px black;
  overflow-y: auto;
  padding: 1.5rem;

  @media all and (min-width: 1024px) {
    background-color: white;
  }
}

.active-tasks {
  list-style: none;
  padding: 0;
  margin: 0;

  .task {
    padding: 2px 8px;
    color: #525252;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: black;
    }

    &:not(.completed) {
      &::before {
        content: "\2615";
      }
    }
    &.completed {
      text-decoration: line-through;
      color: #bdbdbd;
      font-weight: lighter;

      &::before {
        content: "\26D4";
      }

      &:hover,
      &:active,
      &.active {
        color: #4d4d4d;
      }
    }

    .task-id::after {
      content: " \21E2 ";
    }
  }

}
