<div class="happy" *ngIf="!todosService">
  <h1>Wait for with the server...</h1>
</div>

<!-- <div class="happy" *ngIf="todosService.getTasksLeft() < 0">
  <h6 style="color: crimson">That's an erroneous condition.</h6>
</div> -->

<!-- <ul class="active-tasks" *ngIf="todosService.getTasksLeft() > 0"> -->
<ul class="active-tasks" *ngIf="todosService.connected">
  <li class="task" *ngFor="let task of todosService.tasks; let i = index" [ngClass]="{completed: isTaskCompleted(task)}" (click)="onSelectTask(task, i)">

    <span class="task-id">{{task.Id}}</span>

    <span class="task-title">
      {{ task.Title }}
    </span>
  </li>
</ul>