<main class="active-tasks">

  <!--<div class="task" *ngFor="let task of tasks">-->
  <div class="task" *ngFor="let task of task">
    <div class="my-row labels">

        <span class="category-label" *ngFor="let tag of task.tags"
              [class.personal]="tag == 'personal'"
              [class.professional]="tag == 'professional'">
          {{ tag }}
        </span>

      <span class="due-date-label">
          {{ task.due_date }}
        </span>

    </div>

    <div class="my-row task-main-line">

        <span class="task-id">
          {{task.id}}
        </span>

      <input class="task-title"
             type="text"
             [class.late]="task.late"
             [class.not-late]="!task.late"
             value="{{ task.title }}"
             title="{{ task.title }}"
             (click)="changeCompletion(task)">
      <!--(click)="task.completed = true">-->

      <i class="fa fa-edit" *ngIf="task.id == taskBeingEdit"
         (click)="onEnableEditMode(task)"></i>
      <i class="fa fa-eye" *ngIf="task.id != taskBeingEdit"
         (click)="onEnableEditMode(task)"></i>

    </div>
  </div>
</main>

