:host {
  flex: 1;
  box-shadow: inset 0 0 10px black;
  overflow-y: auto;
  padding: 1.5rem;

  @media all and (min-width: 1024px) {
    background-color: white;
  }
}

.active-tasks {
  list-style: square;
  list-style-position: inside;
  padding: 0;

  .task {
    padding: 2px 8px;
    color: #525252;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:active,
    &.active {
      color: black;
      font-weight: bold;
    }
    &.completed {
      text-decoration: line-through;
      color: #bdbdbd;
      font-weight: lighter;
      &:hover,
      &:active,
      &.active {
        color: #4d4d4d;
      }
    }
  }
}
